<!DOCTYPE html>
<html lang="en">
<%- include lib/apicalh01 %>
<% var pagename="" %>
	<!-- ================== BEGIN BASE JS ================== -->
	<!-- ================== END BASE JS ================== -->
    <style>
    
    p.error {
        color: red;
        font-style: bold;
        font-size: 20px;
    }
    </style>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<div class="login-cover">
	    <div class="login-cover-image"><img src="assets/img/login-bg/bg-1.jpg" data-id="login-cover-image" alt="" /></div>
	    <div class="login-cover-bg"></div>
	</div>
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin login -->
        <div class="login login-v2" data-pageload-addclass="animated fadeIn">
            <!-- begin brand -->
            <div class="login-header">
               <!--  <div class="brand">
                    <span class="logo"></span> Color Admin
                    <small>responsive bootstrap 3 admin template</small>
                </div> -->
              <!--   <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div> -->
            </div>
            <!-- end brand -->
            <div class="login-content">
                <form action="/login" method="POST" class="margin-bottom-0">
                    <div class="form-group m-b-20">
                        <input type="text" class="form-control input-lg" placeholder="login id" name="PRM02" required />
                    </div>
                    <div class="form-group m-b-20">
                        <input type="password" class="form-control input-lg" placeholder="Password" name="PRM03" required />
                    </div>
                   <!--  <div class="checkbox m-b-20">
                       <label>
                           <input type="checkbox" /> Remember Me
                       </label>
                   </div> -->
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg" >Sign me in</button>
                    </div>
                     <!-- <div class="m-t-20">
                        Not a member yet? Click <a href="/register">here</a> to register.
                    </div> -->
                    <div>
                        <p class="error"><% if(message){ %> <%=message%> <% } %> </p>
                    </div>
                    <!--  <div class="m-t-20">
                       Not a member yet? Click <a href="unregister_service.html">here</a> to service.
                                        </div>  -->
                </form>
            </div>
        </div>
        <!-- end login -->
        
       
        
        <!-- begin theme-panel -->
     
        <!-- end theme-panel -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="assets/js/login-v2.demo.min.js"></script>
	<script src="assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			LoginV2.init();
		});
	</script>
</body>
</html>
