<!-- begin sidebar nav -->
				<ul class="nav data-step="3" data-intro="This is Side Bar onclick of particular link you redirected to that page!"">
					<li class="nav-header">Navigation</li>
						<li><a href="/uploadfile"><i class="fa fa-info-circle"></i> <span>Upload file</span></a></li>
						<li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
						<li><a href="/leadlist"><i class="fa fa-info-circle"></i> <span>Lead list</span></a></li>
						<li><a href="/taskstatus"><i class="fa fa-users"></i> <span>Task status</span></a></li>
						<li><a href="/parametersetup"><i class="fa fa-wrench"></i> <span>Parameter setup</span></a></li>
						<li><a href="/usermaster"><i class="fa fa-users"></i> <span>User management</span></a></li>
						<li><a href="/channelpartner"><i class="fa fa-handshake-o"></i> <span>Channel partner</span></a></li>
						<li><a href="/couponmanagement"><i class="fa fa-building-o"></i> <span>Coupan Management</span></a></li>
				        <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul> 
				<!-- end sidebar nav -->