<!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid" style="margin-bottom: 10px" >
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <a href="javascript:void(0);" onclick="javascript:startTour();" class="navbar-brand" data-step="1" data-intro="This is Channel Partner Page!"><span><img src="assets/img/logo.jpg" width="50" height="45" alt=""  />Steel-o-fab </span></a>
                </div>
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        