		<!-- begin #footer -->
 <div class="row"  align="center" style=" padding: 5px; position: relative; ">
                    <hr/>
            &copy; 2017 Apical Innovations. All Rights Reserved
                    </div>
		<!-- end #footer -->
		

