
<head>
        <meta charset="utf-8" />
        <title>Steel-o-fab</title>
        <link rel="icon" type="image/png" href="assets/img/logo.jpg" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="Apical Innovations" />
        
        <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="assets/css/theme/default.css" rel="stylesheet" id="theme" />
        <link href="assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <link href="assets/css/demo.css" rel="stylesheet">
    <link href="assets/css/introjs.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/plugins/autocomplete/autocomplete.css">
    <!-- ================== END BASE CSS STYLE ================== -->
       
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="assets/modelclasses/ddhelper.js"></script>
         <script src="assets/modelclasses/ajax.js"></script>
    <script src="assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->

</head>


